/* Modal */

.movie-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.movie-modal.active {
    display: flex;
}

.modal-content {
    width: 90%;
    max-width: 700px;
    background: var(--card);
    border-radius: var(--radius);
    overflow: hidden;
}

.modal-body {
    padding: 20px;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: crimson;
    color: white;
    cursor: pointer;
}